<div fxLayout="column" fxFlexFill>
	<app-nav-bar (sidenavToggle)="sidenav.toggle()" (notificationsToggle)="notifications.toggle()"></app-nav-bar>
	<mat-sidenav-container fxFlex autosize>
		<!-- Entire webapp links/groupings -->
		<mat-sidenav #sidenav mode="over">
			<mat-nav-list>
				<a mat-list-item [routerLink]="">
					<mat-icon>home</mat-icon>Home
				</a>
				<a mat-list-item [routerLink]="['/batch']">
					<mat-icon>Batch</mat-icon>Batch
				</a>
				<a mat-list-item [routerLink]="['/gis']">
					<mat-icon>map</mat-icon>GIS
				</a>
				<a mat-list-item [routerLink]="['/estimate']">
					<mat-icon>Estimates</mat-icon>Estimates
				</a>
				<a mat-list-item [routerLink]="['/policy']">
					<mat-icon>Policy</mat-icon>Policy
				</a>
			</mat-nav-list>
		</mat-sidenav>
		<mat-sidenav #notifications mode="over" position="end">
			Test
		</mat-sidenav>
		<mat-sidenav-content>
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>