<p>
	dashboard works!
</p>
<div fxLayoutGap="1rem" fxLayout="row" fxLayoutAlign="center start">
	<div>
		Can something go here?
	</div>
	<div fxFlex>
		Tabs should go here
		<br />
    (Or maybe make these all side nav list items)
		<br />
		Policies / Production / Acreage / Claims / Rainfall Index / Digital Documents / Compliance
		<br />
		Table should go here
	</div>
		<div>
			Charts Here
			<!-- https://swimlane.gitbook.io/ngx-charts/examples/pie-charts/pie-chart -->
			<ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
				[legend]="showLegend" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut"
				(select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
			</ngx-charts-pie-chart>
			<ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
				[legend]="showLegend" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut"
				(select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
			</ngx-charts-pie-chart>
			<ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
				[legend]="showLegend" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut"
				(select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
			</ngx-charts-pie-chart>
		</div>
	</div>
	<p style="height: 1000px;">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
		dolore magna aliqua. Rhoncus urna neque viverra justo nec ultrices dui. Laoreet suspendisse interdum
		consectetur libero id faucibus. Tempus urna et pharetra pharetra massa. Tortor dignissim convallis aenean et
		tortor at. Nunc id cursus metus aliquam eleifend mi in. Et malesuada fames ac turpis egestas sed. Sed felis
		eget velit aliquet. Suspendisse sed nisi lacus sed viverra tellus in hac habitasse. Id venenatis a
		condimentum vitae sapien pellentesque habitant morbi.

		Mollis nunc sed id semper risus in. Non sodales neque sodales ut etiam sit amet nisl purus. Facilisi etiam
		dignissim diam quis enim lobortis scelerisque fermentum dui. Cras pulvinar mattis nunc sed blandit libero.
		Diam phasellus vestibulum lorem sed. Est ultricies integer quis auctor elit sed vulputate mi sit. Ac tortor
		dignissim convallis aenean et tortor at risus. Ac odio tempor orci dapibus ultrices in iaculis nunc sed. Sed
		velit dignissim sodales ut. Elementum nibh tellus molestie nunc non blandit massa enim nec. Volutpat odio
		facilisis mauris sit amet massa vitae tortor. Augue interdum velit euismod in pellentesque massa placerat
		duis ultricies.

		Ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget. Sed nisi lacus sed viverra tellus in
		hac habitasse. Nunc non blandit massa enim nec dui. Sit amet est placerat in egestas erat. Faucibus nisl
		tincidunt eget nullam non nisi. In nisl nisi scelerisque eu. Mi tempus imperdiet nulla malesuada
		pellentesque elit eget gravida. Neque convallis a cras semper auctor. Fringilla phasellus faucibus
		scelerisque eleifend donec pretium vulputate sapien nec. Nisi lacus sed viverra tellus. Cursus turpis massa
		tincidunt dui. Viverra adipiscing at in tellus integer feugiat. Lacinia quis vel eros donec ac odio tempor
		orci dapibus. Blandit massa enim nec dui. Odio morbi quis commodo odio aenean. Ac auctor augue mauris augue
		neque gravida in. Viverra orci sagittis eu volutpat odio facilisis mauris. Et magnis dis parturient montes
		nascetur ridiculus mus mauris vitae. Ac feugiat sed lectus vestibulum mattis ullamcorper. Molestie nunc non
		blandit massa enim.

		Phasellus vestibulum lorem sed risus ultricies tristique nulla aliquet enim. Libero enim sed faucibus turpis
		in eu. Elit duis tristique sollicitudin nibh. Facilisi etiam dignissim diam quis enim lobortis scelerisque
		fermentum. Sagittis eu volutpat odio facilisis mauris sit. Habitasse platea dictumst vestibulum rhoncus est
		pellentesque. Est pellentesque elit ullamcorper dignissim. Dolor sit amet consectetur adipiscing elit
		pellentesque habitant morbi. Pretium viverra suspendisse potenti nullam. Id porta nibh venenatis cras sed.

		Feugiat vivamus at augue eget arcu dictum. Etiam tempor orci eu lobortis. In nisl nisi scelerisque eu. Elit
		eget gravida cum sociis natoque penatibus et. Arcu cursus vitae congue mauris rhoncus aenean vel elit. Ipsum
		nunc aliquet bibendum enim. Cursus turpis massa tincidunt dui ut ornare lectus sit amet. Sed tempus urna et
		pharetra pharetra massa massa. Viverra maecenas accumsan lacus vel facilisis volutpat est velit. Urna et
		pharetra pharetra massa massa ultricies mi quis hendrerit. Risus in hendrerit gravida rutrum quisque non
		tellus orci. Leo integer malesuada nunc vel risus. Sem nulla pharetra diam sit amet nisl suscipit
		adipiscing. Odio aenean sed adipiscing diam. Faucibus pulvinar elementum integer enim. Diam sit amet nisl
		suscipit. Ultrices in iaculis nunc sed augue lacus. Enim lobortis scelerisque fermentum dui. Fusce id velit
		ut tortor pretium viverra suspendisse potenti nullam.
	</p>