<div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0.75rem">
	<mat-card fxLayout="column" fxLayoutGap="0.75rem">
		<mat-card-header>Contact Information</mat-card-header>
		<!-- https://console.cloud.google.com/billing/018EAE-0810D9-3D9225/profile?orgonly=true&project=tough-melody-294806&supportedpurview=organizationId -->
		<div fxFlex fxLayout="row" fxLayoutGap="1rem">
			<div fxFlex fxLayout="column" fxLayoutGap="0.5rem">
				<div fxLayout="row" fxLayoutGap="0.5rem">
					<div>
						<mat-icon>account_box</mat-icon>
					</div>
					<div fxLayout="column">
						<span>Account type</span>
						<span>Individual</span>
					</div>
				</div>
				<div fxLayout="row" fxLayoutGap="0.5rem">
					<div>
						<mat-icon>business</mat-icon>
					</div>
					<div fxLayout="column">
						<span>Address</span>
						<span>11810 PINO AVE NE</span>
						<span>ALBUQUERQUE, NM 87122-2311</span>
					</div>
				</div>
			</div>
			<div fxFlex fxLayout="column" fxLayoutGap="0.5rem">
				<div fxLayout="row" fxLayoutGap="0.5rem">
					<div>
						<mat-icon>contact_phone</mat-icon>
					</div>
					<div fxLayout="column">
						<span>Phone Numbers:</span>
						<span>123 - 567 - 8793</span>
					</div>
				</div>
			</div>
			<div fxFlex fxLayout="column" fxLayoutGap="0.5rem">
				<div fxLayout="row" fxLayoutGap="0.5rem">
					<div>
						<mat-icon>contact_mail</mat-icon>
					</div>
					<div fxLayout="column">
						<span>Emails:</span>
						<span>123 - 567 - 8793</span>
					</div>
				</div>
			</div>
		</div>
		<div fxFlex>
			Legal Name: Jerry L Kairner Jr Leslie F Kokenes
		</div>
	</mat-card>

	<div fxLayout="row" fxLayoutGap="0.75rem">
		<mat-card>
			<mat-card-header>Insured Summary</mat-card-header>
			Addresses go here
		</mat-card>
		<mat-card>
			<mat-card-header>Agency Summary</mat-card-header>
			Phone numbers go here
		</mat-card>
	</div>

	<mat-card fxLayout="column">
		<mat-card-header>Billing Breakdown</mat-card-header>
		<div fxFlex fxLayout="row">
			<div fxFlex>
				<span>Fees</span>
			</div>
			<div fxFlex>
				<span>Dates</span>
			</div>
		</div>
	</mat-card>
</div>